body {
  border: 0;
  width: 550px;
  padding: 5px;
  height: 150px;
  font-size: 12px;
  margin: 5px auto;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  font-family: arial, sans-serif;
}

table {
  color: #333;
  height: 100%;
  margin: auto;
  font-size: 12px;
  border-spacing: 0;
  font-family: arial, sans-serif;
}

table tr td {
  padding: 0 5px;
  text-align: justify;
  vertical-align: middle;
}

input[type="checkbox"] {
  margin: 3px;
  vertical-align: middle;
}

span {
  vertical-align: middle;
}

.title {
  width: 90px;
}

.note {
  margin: 0;
  padding: 0;
  color: #888;
}
